<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 well" id="year">
    <h2>Year in pharmacy school:</h2><br>  

    <%= f.radio_button :year, '1' %>
    <%= f.label :year, 'P1' %><br>

    <%= f.radio_button :year, '2' %>
    <%= f.label :year, 'P2' %><br>
         
    <%= f.radio_button :year, '3' %>
    <%= f.label :year, 'P3' %><br>
          
    <%= f.radio_button :year, '4' %>
    <%= f.label :year, 'P4' %><br>
         
  </div>
</div>
  
<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 well" id="times_helped">
    <h2>How many times have you helped?</h2>
    <% f.label :times_helped %>
    <%= f.number_field :times_helped %><br>
  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 well" id="intervention">
    <h2>Did you make an intervention?</h2>
        Check if 'yes'
    <%= f.check_box :intervention_made %><br>
  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 well" id="contribution">
    <h2>Did you make a contribution?</h2>
        Check if 'yes'
    <%= f.check_box :contribution_made %><br>
  </div>
</div>
  
<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 well" id="describe_recommendation">
    <h2>Recommendation description</h2>
      <%= f.text_area :recommendation_description, :rows => '15', :class => 'col-xs-12', 
                    :placeholder => 'Tell us about your recommendations here.' %><br>
  </div>
</div>
  
<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 well" id="e_recommendations"> 
    <h2>Efficacy recommendations:</h2><br>
      <h4>Dose too low</h4>
        <div class="row">
          <div class="col-xs-11">
            <% f.label :efficacy_dose_amount %>
            <%= f.number_field :efficacy_dose_amount %>
            <small>Number of recommendations made</small>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-11">
            <% f.label :accepted_efficacy_dose_amount %>
            <%= f.number_field :accepted_efficacy_dose_amount %>
            <small>Number accepted</small>
          </div>
        </div>
      <h4>Dose not frequent enough</h4>  
        <div class="row">
          <div class="col-xs-11">
            <% f.label :efficacy_dose_not_frequent_enough %>
            <%= f.number_field :efficacy_dose_not_frequent_enough %>
            <small>Number of recommendations made</small>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-11">
            <% f.label :accepted_efficacy_dose_not_frequent_enough %>
            <%= f.number_field :accepted_efficacy_dose_not_frequent_enough %>
            <small>Number accepted</small>
          </div>
        </div>
      <h4>Indication education</h4>  
        <div class="row">
          <div class="col-xs-11">
            <% f.label :efficacy_indication_education %>
            <%= f.number_field :efficacy_indication_education %>
            <small>Number of recommendations made</small>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-11">
            <% f.label :accepted_efficacy_indication_education %>
            <%= f.number_field :accepted_efficacy_indication_education %>
            <small>Number accepted</small>
          </div>
        </div>  
      <h4>Therapeutic selection</h4>  
        <div class="row">
          <div class="col-xs-11">
            <% f.label :efficacy_therapeutic_selection %>
            <%= f.number_field :efficacy_therapeutic_selection %>
            <small>Number of recommendations made</small>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-11">
            <% f.label :accepted_efficacy_therapeutic_selection %>
            <%= f.number_field :accepted_efficacy_therapeutic_selection %>
            <small>Number accepted</small>
          </div>
        </div>  
      <h4>Immunization Recommendation</h4>  
        <div class="row">
          <div class="col-xs-11">
            <% f.label :efficacy_immunization_recommendation %>
            <%= f.number_field :efficacy_immunization_recommendation %>
            <small>Number of recommendations made</small>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-11">
            <% f.label :accepted_efficacy_immunization_reccomendation %>
            <%= f.number_field :accepted_efficacy_immunization_reccomendation %>
            <small>Number accepted</small>
          </div>
        </div>  
      <h4>I didn't make any recommendations</h4>
        <div class="row">
          <div class="col-xs-11">
            <%= f.check_box(:none_today) %>
            <small>No recommendations made</small>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-11">
            <% f.label :accepted_none_today %>
            <%= f.number_field :accepted_none_today %>
            <small>Number made by physician</small>
          </div>
        </div>  
      <h4>Other</h4>
        <div class="row">
          <div class="col-xs-11">
            <% f.label :efficacy_other %>
            <%= f.number_field :efficacy_other %>
            <small>Number of recommendations made</small>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-11">
            <% f.label :accepted_efficacy_other %>
            <%= f.number_field :accepted_efficacy_other %>
            <small>Number accepted</small>
          </div>
        </div>  
  </div>
</div>
  
<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 well"> 
    <h2>Safety recommendations:</h2><br>
    <%= f.check_box("safety_recommendations", {:multiple => true}, "Dose too high", nil) %>
    Dose too high<br>
    <%= f.check_box("safety_recommendations", {:multiple => true}, "Dose too frequent", nil) %>
    Dose too frequent<br>
    <%= f.check_box("safety_recommendations", {:multiple => true}, "Adverse event education", nil) %>
    Adverse event education<br>
    <%= f.check_box("safety_recommendations", {:multiple => true}, "Pregnancy/lactation education", nil) %>
    Pregnancy/lactation education<br>
    <%= f.check_box("safety_recommendations", {:multiple => true}, "Pediatric safety", nil) %>
    Pediatric safety<br>
    <%= f.check_box("safety_recommendations", {:multiple => true}, "Identified drug allergy", nil) %>
    Identified drug allergy<br>
    <%= f.check_box("safety_recommendations", {:multiple => true}, "None today", nil) %>
    None today<br>
    Other:<br>
    <%= f.text_area :safety_recommendations, :multiple => true, :rows => '5', :class => 'col-xs-12', 
                    :placeholder => 'If you made any safety recommendations not listed above, tell us about it here.' %><br>
  </div>
</div>
  
<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 well">
    <h2>Contribution to care:</h2><br>
    <%= f.check_box("contribution_to_care", {:multiple => true}, "Obtain medical history", nil) %>
    Obtained medical history<br>
    <%= f.check_box("contribution_to_care", {:multiple => true}, "Provided medication cost information", nil) %>
    Provided medication cost information<br>
    <%= f.check_box("contribution_to_care", {:multiple => true}, "Described drug/device administration", nil) %>
    Described drug/device administration<br>
    <%= f.check_box("contribution_to_care", {:multiple => true}, "Enrolled patient in patient assistance program", nil) %>
    Enrolled in patient assistance program<br>
    <%= f.check_box("contribution_to_care", {:multiple => true}, "Asked about medication adherence", nil) %>
    Asked about medication adherence<br>
    <%= f.check_box("contribution_to_care", {:multiple => true}, "Counseled patient on medication", nil) %>
    Counseled patient on medication<br>
    Other:<br>
    <%= f.text_area :safety_recommendations, :multiple => true, :rows => '5', :class => 'col-xs-12', 
                    :placeholder => 'If you made any conbributions to care not listed above, tell us about it here.' %><br>
  </div>
</div>
      
<div class="text-center">
  <%= f.submit "Submit", class: "btn btn-primary btn-lg" %>
</div>
