<div class="container-fluid">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>Your responses</h1> 
    <h5><small>Survey last updated: <%=@survey.updated_at.strftime("%B %d, %Y %H:%m UTC") %></small></h5><br>
    <%= link_to "I'm done!", root_url, class: "btn btn-primary btn-lg" %><br>
    <br>
    <div class = "well">
      <%= link_to "Edit my responses", edit_survey_path %><br><br>

      <h4>Year in pharmacy school:</h4>
      <%= @survey.year %><br>
      <h4>Number of times you've worked at the clinic:</h4> 
      <%= @survey.times_helped %><br>
      <h4>Did you make an intervention?</h4> 
      <%= @survey.intervention_made %><br>
      <h4>Did you make a contribution?</h4> 
      <%= @survey.contribution_made %><br>
      <h4>Recommendation description:</h4>
      <%= @survey.recommendation_description %><br>
      <h4>Efficacy recommendations:</h4>
      <h5>Dose too low:</h5>
      <%= @survey.efficacy_dose_amount %><br>
      <h5>Number Accepted:</h5>
      <%= @survey.accepted_efficacy_dose_amount %><br>
      <h4>Safety recommendations:</h4> 
      <%= @survey.safety_recommendations %><br>
      <h4>Contribution to care:</h4> 
      <%= @survey.contribution_to_care %><br>
    </div>
  </div>
</div>